* {
    --body-bg-gradient:radial-gradient(circle, rgba(235, 235, 235, 1) 52%, rgba(153, 152, 152, 1) 100%);
    --button-background-color: rgba(255, 255, 255, .3);
    --bg-color: #999898;
    --dark-color: #212121;
    --grey-color: #3f3f3f;
    --grey50-color: #acacac;
    --lith-color: #cbcbcb;
    --white-color: #fff;
    --sub-grey: #6f6f6f;
    --bg-sub-color: #d7d7d7;
    --orange-color: #ff5821;
    --orange-color80: #ff5821cc;
    --linkidin-color: #0a7aba;
    --facebook-color: #0866ff;
    --instagram-color: #ef7d3d;
    --blog-item-reg-bg-color: #fde4c4;
    --blog-item-open-bg-color: #f5f5f5;
    --blog-item-grey-color: #737373;
    --btn-padding: 12px;
    --btn-height: 52px;
    --btn-width: 52px;
    --fixed-size: 50px;
    --body-noise-opacity: .15;
    --pr-box-cover-width: calc((40vw - 44px) * 0.45);
    --margin : 30px;
    --portfolio-box-border-radius:20px;
    --team-box-width: calc( (100vw - 2 * var(--fixed-size) - 6 * var(--margin))/4);
    --team-box-height: calc( var(--team-box-width) * (8/6) );
    --float-input-border-radius:100px;
    --float-input-label-position: 20px;
    --float-input-focus-color: var(--dark-color);
    --float-input-hover-color: var(--grey-color);
    --footer-height:400px;
    --padding-frame: calc(var(--fixed-size) + 60px);
    --review-logo-height:100px;
    --soc-team-link-size: 40px;
    --blog-item-border-radius: 20px;
    --blog-item-gap: 20px;
    --blog-item-padding: 20px;
}